@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Inter';
}

/* Styling the container */
.container{
    width: 100%;
    height: 100%;
}

/* Styling the nav bar */

.nav{
    padding: 0 10vw ;
    width: 100%;
    height: 12%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    display: flex;
    gap: 3px;
    font-family: 'Times New Roman', Times, serif;
}

 .nav .nav-part1 .header-menu{
    width: 38vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.nav .nav-part1 .header-menu .register-now{
    width: 8.7vw;
    height: 2.5vw;
    border: none;
    background-color: #4caf4f;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 8px;
}

.nav-part1 button i{
    font-size: 0.8em;
    text-align: center;
}

/* Styling the hero section */

.hero{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 10vw ;
    gap: 10vw;
    width: 100%;
    height: 80vh;
    background-color: #f5f7fa;
}

.hero .header-text{
    width: 40vw;
    height: 40vh;
}

.hero .header-text h1{
    line-height: 80px;
    font-size: 3.8em;
    color: #4d4d4d;
    padding-bottom: 3vmin;
}


.hero .header-text h1 span{
    color: #4caf4f;
}

.hero .header-text p{
    padding-bottom: 3vmin;
    color: #717171;
}

.hero .header-text button{
    width: 9vw;
    height: 6vh;
    background-color: #4caf4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size:1.1em ;
}

.hero img{
    width: 26vw;
}

/* Styling the Our clients section */

.clients{
    height: 35vh;
    width: 100%;
    padding:6vh 9vw;
    text-align: center;
}

.clients h3{
    font-size: 2.8em;
    padding-bottom: 3vmin;
    color: #4d4d4d;
    font-weight: 700;
}

.clients p{
    font-size: 1em;
    padding-bottom: 4vmin;
    color: #717171;
}

.clients .client-imgs{
    display: flex;
    justify-content: space-around;
}

/* Styling the community */

.community{
    width: 100%;
    height: 65vh;
}

.community .community-header{
    width: 35vw;
    height: 24vh;
    text-align: center;
    margin: 0 auto;
}

.community .community-header>h2{
    color: #4d4d4d;
    font-size: 2.3em;
    padding-bottom: 2vmin;
}

.community .community-header>p{
    color: #717171;
    font-size: 1em;
    margin-bottom: 10vh;
}

.community .community-flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10vw;
}

.community .community-flex .box1{
    background-color: rgb(255, 255, 255);
    height: 34vh;
    width: 35vh;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d8d7d7;
}

.community .community-flex .box1>h2{
    color: #4d4d4d;
    font-size: 1.7em;
    padding: 10px 0;
}

.community .community-flex .box1>p{
    color: #717171;
    font-size: 0.9em;
}

.community .community-flex .box{
    background-color: rgb(255, 255, 255);
    height: 36vh;
    width: 36vh;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d8d7d7;
}

.community .community-flex .box>h2{
    color: #4d4d4d;
    font-size: 1.7em;
    padding: 10px 0;
}

.community .community-flex .box>p{
    color: #717171;
    font-size: 0.9em;
}

/* Styling the pixelgrade section */

.pixelgrade{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
    height: 60%;
    padding: 7vw 10vw;
}

.pixelgrade>img{
    width: 70vw;
    height: auto;
}

.pixelgrade .text-side{
    padding-right: 4vw;
}

.pixelgrade .text-side>h3{
    font-size: 2.2em;
    color: #4d4d4d;
    padding-bottom: 3vmin;
    padding-right: 7vmin;
}

.pixelgrade .text-side>p{
    color: #717171;
    font-size: 1em;
    padding-bottom: 4vmin;
    line-height: 20px;
}

.pixelgrade .text-side>button{
    width: 10.3vw;
    height: 6.5vh;
    background-color: #4caf4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size:1.15em ;
}

/* Styling the reinvent section  */

.achievments{
    background-color: #f5f7fa;
    width: 100%;
    height: 35vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.achievments .left-txt h1{
    color: #4d4d4d;
    font-size: 2.65em;
    width: 30vw;
}

.achievments .left-txt span{
    color: #4caf4f;
    padding-bottom: 90px;
}

.achievments .left-txt p{
    color: #717171;
    font-size: 0.95em;
    padding-top: 10px;
}

.achievments .counts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vmax;
    width: 28vw;
    height: 18vh;
}

.achievments .counts .sbox{
    display: flex;
    align-items: center;
    gap: 15px;
}

.achievments .counts .sbox>img{
    width: 2.5vw;
}

.achievments .counts .sbox .frames>h1{
    color: #4d4d4d;
    font-size: 1.5em;
}

.achievments .counts .sbox .frames>p{
    color: #717171;
}

/* Styling the unlock section  */


.unlock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
    height: 75%;
    padding: 7vw 10vw;
}

.unlock>img{
    width: 70vw;
    height: auto;
}

.unlock .text-side{
    padding-right: 4vw;
}

.unlock .text-side>h3{
    font-size: 2.5em;
    color: #4d4d4d;
    padding-bottom: 3vmin;
    padding-right: 7vmin;
}

.unlock .text-side>p{
    color: #717171;
    font-size: 1em;
    padding-bottom: 4vmin;
    line-height: 23px;
}

.unlock .text-side>button{
    width: 10.3vw;
    height: 6.5vh;
    background-color: #4caf4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size:1.15em ;
}

/* Styling the customers section  */

.customers{
    display: flex;
    justify-content: center;
    padding: 0vh 10vw;
    background-color: #f5f7fa;
    height: 55vh;
    gap: 4vw;
    align-items: center;
}

.customers .left-side img{
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.customers .right-side{
    height: 40vh;
    width: 100vw;
    color: #4d4d4d;
    padding-right: 5vw;
    /* flex: 1; */
}

.customers .right-side .top{
    font-size: 1.1em;
    line-height: 1.5;
    color: #4d4d4d;

}

.customers .right-side>h3{
    color: #4caf4f;
    font-size: 1.5em;
    padding: 1vh 0 1vh 0;
}

.customers .right-side .bottom{
    font-size: 1em;
    color: #717171;
    padding: 0.8vh 0 3.5vh 0;
}

.customers .right-side .customer-logos{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    width: 45vw;
    flex-wrap: wrap;
}

.customers .right-side .customer-logos>h3{
    color: #4caf4f;
    font-weight: bold;
}

.customers .right-side .customer-logos>h3>i{
    font-weight: 900;
}

/* Styling the caring section  */

.caring{
    height: 93vh;
    padding: 9vh 10vw;
    text-align: center;
}

.caring h2{
    font-size: 2.2em;
    color: #4d4d4d;
    width: 50vw;
    margin: 0 auto;
}

.caring p{
    width: 40vw;
    margin: 0 auto;
    font-size: 1em;
    color: #717171;
    padding: 2vh 0 4vh 0;
    line-height: 24.5px;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 25vw;
    height: 52vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cards img{
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.card .card-txt{
    background-color: #f5f7fa;
    height: 23vh;
    width: 78%;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.card .card-txt>h3{
    color: #717171;
    font-size: 1.3em;
    font-weight: 650;
    padding-bottom: 3.5vh;
}

.card .card-txt>h4{
    color: #4caf4f;
    font-size: 1.2em;
}

.card .card-txt>h4>i{
    font-weight: 700;
}

/* Styling the Demo section */

.big-heading{
    background-color: #f5f7fa;
    height: 40vh;
    text-align: center;
    padding: 6vh 10vw;
}

.big-heading h1{
    font-size: 3em;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5vh;
}

.big-heading button{
    width: 10.3vw;
    height: 6.5vh;
    background-color: #4caf4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size:1.15em ;
}

.big-heading button>i{
    font-weight: 700;
}